html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  padding: 0;
  margin-top: 56px;
  background-color: #fff;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.site-promo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;
}

.site-promo-info {
  width: 470px;
}

.site-promo-heading {
  margin-top: 0;
  margin-bottom: 16px;
  padding: 0;
  font-weight: bold;
  font-size: 30px;
  line-height: 130%;
}

.site-promo-text {
  margin-top: 0;
  margin-bottom: 16px;
  padding: 0;
  font-weight: normal;
}

.site-promo-button {
  background: #00BAFC;
  color: #fff;
  width: 232px;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  font-style: normal;
  font-weight: bold;
}

.youtube-embed {
  border: none;
  border-radius: 5px;
  width: 458px;
  height: 258px;
}

.services {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 56px 0;
}

.services-heading {
  width: 719px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
  text-align: center;
}

.section-title {
  font-size: 24px;
  line-height: 130%;
  margin-top: 0;
  margin-bottom: 16px;
}

.section-text {
  margin: 0;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
}

/* .services-list:nth-first-child() {
  margin-left: 0;
} */

.services-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 70px;
  margin-bottom: 48px;
  width: 320px;
}

.services-item-website,
.services-item-graphic-design {
  margin-left: 0;
}

.services-link {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 24px;
  color: #000000;
}

.services-link::before {
  display: block;
  content: "";
  height: 130px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.services-website::before {
  width: 203px;
  background-image: url("../img/website-illustration.png");
}

.services-telegram-bot::before {
  width: 222px;
  background-image: url("../img/bot-illustration.png");
}

.services-smm::before {
  width: 177px;
  background-image: url("../img/smm-illustration.png");
}

.services-graphic-design::before {
  width: 179px;
  background-image: url("../img/design-illustration.png");
}

.services-crm-systems::before {
  width: 169px;
  background-image: url("../img/crm-illustration.png");
}

.services-name {
  margin: 16px 0;
}

.services-info {
  margin: 0;
}

.services-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.services-footer-button {
  width: 167px;
  margin-right: 16px;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #00BAFC;
  color: #fff;
  font-weight: bold;
}

.services-footer-link {
  color: #00BAFC;
}

.how-we-work {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 872px;
  margin-right: auto;
  margin-left: auto;
  padding: 56px 20px;

}

.how-we-work-heading {
  width: 729px;
  padding: 0 10px;
  margin-bottom: 24px;
  text-align: center;
}

.step-info {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.step-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 832px;
  margin-bottom: 48px;
}

.step-item:nth-child(even) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.step-item::before {
  display: inline-block;
  content: "";
  width: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.step-item-requirements::before {
  height: 277px;
  background-image: url("../img/step-illlustration-requirements.png");
}

.step-item-solutions::before {
  height: 224px;
  background-image: url("../img/step-illlustration-solutions.png");
}

.step-item-time:before {
  height: 258px;
  background-image: url("../img/step-illustration-time.png");
}

.step-item-submit::before {
  height: 171px;
  background-image: url("../img/step-illustration-submit.png");
}

.step-item-support::before {
  height: 232px;
  background-image: url("../img/step-illustration-support.png");
}

.step-item-info {
  width: 493px;
  margin-left: auto;
  margin-right: auto;
}

.step-name {
  margin: 0;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
}

.step-description {
  margin: 0;
  padding: 0;
}

.how-we-work-button-link {
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #00BAFC;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.order-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 56px;
  padding-bottom: 64px;
  background-color: #00BAFC;
}

.order-form-heading {
  width: 739px;
  text-align: center;
  margin-bottom: 24px;
}

.form-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 348px;
  background-color: #fff;
  padding: 24px;
  border-radius: 5px;
}

.input {
  width: 300px;
  padding: 16px;
  background-color: #F3F3F3;
  margin-bottom: 16px;
  border: none;
}

.order-form-button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  width: 167px;
  background-color: #00BAFC;
}


















@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  .service-website {
    background-image: url("../img/website-illustration@2x.png");
  }

  .services-telegram-bot {
    background-image: url("../img/bot-illustration@2x.png");
  }

  .services-smm::before {
    background-image: url("../img/smm-illustration@2x.png");
  }

  .services-graphic-design::before {
    background-image: url("../img/design-illustration@2x.png");
  }

  .services-crm-systems::before {
    background-image: url("../img/crm-illustration@2x.png");
  }

  .step-item-requirements::before {
    background-image: url("../img/step-illlustration-requirements@2X.png");
  }

  .step-item-solutions::before {
    background-image: url("../img/step-illlustration-solutions@2x.png");
  }

  .step-item-time:before {
    background-image: url("../img/step-illustration-time@2x.png");
  }

  .step-item-submit {
    background-image: url("../img/step-illustration-submit@2x.png");
  }

  .step-item-support {
    background-image: url("../img/step-illustration-support@2x.png");
  }

}
